.tech-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
    padding: 2%;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .tech-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
}