.burger{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.burger-button{
    height: 100%;
    border: none;
    background: none;
}

.burger-button:hover{
    cursor: pointer;
}

.burger-icon {
    height: 100%;
} 

.burger-menu {
    background: var(--header-bg-color);


    border-radius: 12px;

    height: 75vh;  /* DONT KNOW WHY, but it works */
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: calc(10% + 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    z-index: 3000;
}

.burger-menu-top{
    width: 100%;
}

.burger-menu-bottom{
    width: 100%;
}

.burger-menu button{
    height: fit-content;
}


.burger-menu-bottom-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom: 12px;
    gap: 12px
}

.burger-menu-bottom-buttons > .github-container{
    background: var(--inverse-header-color);
    border-radius: 10px;
    width: 50%;
    height: calc(2rem + 20px);
}

.burger-menu-bottom-buttons > .github-container:hover{
    background: var(--inverse-hover-color);
}
.burger-menu-bottom-buttons > .github-container:active{
    background: var(--inverse-hover-color);
}

.burger-menu-bottom-buttons > .github-container > .github-button{
    all: unset;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--inverse-text-color);
}



.burger-menu-bottom-buttons > .github-container > .github-button > .github-button-img{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
}

.burger-menu-bottom-buttons > .theme-container{
    all: unset;
    background: var(--inverse-header-color);
    border-radius: 10px;
    width: 50%;
    height: calc(2rem + 20px);
}

.burger-menu-bottom-buttons > .theme-container > .theme{
    all: unset;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.burger-menu-bottom-buttons > .theme-container:hover{
    background: var(--inverse-hover-color);
}
.burger-menu-bottom-buttons > .theme-container:active{
    background: var(--inverse-hover-color);
}

.burger-menu-bottom-buttons > .theme-container > .theme> .theme-icon{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}

.burger-menu-top > .dropdown-container{
    all: unset;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.burger-menu-top > .dropdown-container button{
    font-size: 1.5rem;
    color: var(--text-color);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
}

.burger-menu-top > .dropdown-container button:hover{
    background: none;
}


.burger-menu-top > .dropdown-container button > .lang-icon{
    height: calc(8vh - 30px);
    aspect-ratio: 1/1;
    width: auto;
}

.burger-menu-top > .dropdown-container > .dropdown-menu {
    all: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}


.burger-menu-top > .dropdown-container > .dropdown-menu li {
    all: unset;
    width: fit-content;
    font-size: 1rem;
    padding: 5%;

    box-sizing: border-box;
}

.burger-menu-top > .dropdown-container > .dropdown-menu > .dropdown-item.selected{
    color: var(--selected-text-color);
}

.burger-menu-top > .dropdown-container > .dropdown-menu > .dropdown-item:hover{
    border-radius: 12px;
    background: var(--hover-color);
}


.burger-menu-bottom > .contact-button{
    width: 100%;
    justify-content: center;
}



