.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: calc(10%);
}



.about-header{
  width: 100%;
  text-align: center;
}

.about-header h1{
    font-size: 3.2rem;
}

.about-content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.about-pp {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-pp img{
  width: 100%;
  height: auto;
}

.about-body{
  font-family: Arial;
  margin-top: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 2%;
  width: 100%;
  background: var(--footer-bg-color);
}

@media (min-width: 768px) {
  .about-container{
    margin-top: calc(5%);
  }
  .about-content{
    flex-direction: row;
  }
  .about-pp{
    flex: 1;
    margin: 40px;
  }
  .about-body{
    flex: 2;
    margin: 40px;
    font-size: 1.5rem;
  }
}
