/*Mobile by default, media queries for Desktop Screens*/

.ProjectEntryBlog{
    background: var(--footer-bg-color);
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    border-radius: 20px;
    padding: 2%;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .ProjectEntryBlog{
        flex-direction: row;
        align-items: center;
    }
}

.ProjectEntryBlog-date{
    margin-bottom: 1%;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .ProjectEntryBlog-date{
        margin-bottom: 0;
        margin-right: 4%;
        flex-shrink: 0;
        width: 20%;
        text-align: left;
    }
}


.ProjectEntryBlog-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ProjectEntryBlog-title{
    font-size: 2rem;
    font-weight: bold;
}
@media (min-width: 768px) {
    .ProjectEntryBlog-title{
        width: 80%;
    }
}

.ProjectEntryBlog-image-wrapper{
    width: 100%;
    margin-top: 1%;
    height: 200px;
    overflow: hidden;
    border-radius: 40px;
    z-index: 1;
}

.ProjectEntryBlog-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

.ProjectEntryBlog-image:hover{
    transform: scale(1.05);
}

.ProjectEntryBlog-description{
    margin-top: 4%;
    margin-bottom: 1%;
}
@media (min-width: 768px) {
    .ProjectEntryBlog-description{
        margin-top: 2%;
    }
}

.ProjectEntryBlog-link a{
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.ProjectEntryBlog-link a:hover{
    color: var(--hover-color);
}