.HomePage {
    width:100%;
    height: 100%;
    align-content: center;
    display: flex;
    flex-direction: column;
}

/*BODY*/
.body-component {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; 
    padding: 20px;
}

.body-column-1 {
    left: 15%;
    max-width: 75%;
    
}

.body-column-2 {
    right: 0;
    max-width: 25%;
}

.personal {
    width: 75%;
    border-radius: 50%;
}
