.dropdown-container{
    height: 100%;
    aspect-ratio: 1/1;
    position: relative;

}

.dropdown-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: max-content;
    left: 50%; 
    transform: translateX(-50%);
    list-style: none;
    z-index: 1000;
    background-color: var(--footer-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10%;
    top: 166%;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none; 
}


.dropdown-item{
    width: 100%;
    padding: 5%;
    overflow: hidden;
    box-sizing: border-box;
}
.dropdown-item:hover{
    background-color: var(--hover-color);
    color: var(--hover-text-color);
    cursor: pointer;
}

.dropdown-item.selected {
    background-color: var(--hover-color);
    color: var(--selected-text-color);
  }

  .dropdown-item.selected:hover{
    background-color: var(--hover-selected-color);
    color: var(--selected-text-color);
    cursor: pointer;
  }