.home {
    aspect-ratio: 1 / 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    font-size: 3rem;
    font-weight: bold;
    background: none;
    border: none;
    color: var(--text-color);
    padding: 4px;
}

.home:hover {
    cursor: pointer;
}
