.home {
    width: 35px;
    height: 35px;
    border:none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
}

.home-icon{
    width: 100%;
    height: 100%;
}