.theme-container{
    display: flex;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 100%;
}

.theme {
    border:none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.theme:hover{
    background: var(--hover-color);
    border-radius: 12px;
}

.theme-icon{
    align-items: center;
    width: 100%;
    height: 100%;
}

