.body-component{
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: calc(10% + 20px);
}

.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.welcome h1{
    font-size: 4rem;
}