.nheader-component{
    display: flex;
    justify-content: space-between;
    background-color: var(--header-bg-color);
    width: 100%;
    height:8%;
    box-sizing: border-box;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    gap:20px;
    position: fixed;
    top: 0;
    margin-top: 20px;
    z-index: 2000;
    flex-shrink: 0;
}

.nheader-column1{
    border-right: 1px solid var(--border-color);
    display: flex;
    height: 100%;
    margin-left: 25px;
    align-items: center;
    padding-right: 20px;
}
.nheader-column2{
    height: 100%;
}

.nheader-column3{
    border-left: 1px solid var(--border-color);
    display: flex;
    height: 100%;
    margin-right: 25px;
    gap: 20px;
    padding-left: 20px;
}

@media (min-width: 480px){
    .nheader-component{
        justify-content: flex-start;
        height: 10%;
        padding: 10px;
    }
    .nheader-column2{
        margin-left: auto;
    }

    .nheader-column3 > .burger{
        display: none;
    }
}


@media (max-width: 480px){
    .nheader-column2 > .contact-button{
        display: none;
    }
    .nheader-column3> .theme-container{
        display: none;
    }
    .nheader-column3> .dropdown-container{
        display: none;
    }
    .nheader-column3> .github-container{
        display: none;
    } 
}

@media (min-width: 1367px) {
    .nheader-component{
        height: 7%;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
    }
    
}
