html, body {
  margin: 0;
  padding: 0; 
  width: 100%; 
  height: 100%; 
  font-size: 1rem;
}


:root {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --pure-white: white;
  --pure-black: #080808;
  --white: #d9d6d2;
  --black: #101010;
  --primary-color-lighter:#5388ec;
  --primary-color:#0058ff;
  --primary-color-darker:#144db8;
}

h1{
  font-size: 2.5rem;
}

/*Dark Mode color schemes*/

/*Root*/
:root[data-theme='dark'] {
  --background-color: #101010;
  --text-color: white;
  --header-bg-color:#080808;
  --body-bg-color:#101010;
  --footer-bg-color:#080808;
  --selected-bg-color: #43736a;
  --hover-color: #43736a;
  --hover-selected-color: #2e504a;
  --selected-text-color: #d9d6d2;
  --border-color:#202020;
}



/*Light mode color schemes*/

/*Root*/
:root[data-theme='light'] {
  --background-color: #d9d6d2;
  --text-color: #101010;
  --header-bg-color:#ecebe9;
  --body-bg-color:#d9d6d2;
  --footer-bg-color:#ecebe9;
  --selected-bg-color: #8198a6;
  --hover-color: #8198a6;
  --hover-selected-color: #c4c4c4;
  --selected-text-color: #101010;
  --border-color:#b0aca5;
}

/*Other things*/
body {
  background-color: var(--background-color);
  color: var(--text-color);
  
}

body.transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}

::selection {
  background-color: var(--selected-bg-color);
  color: var(--selected-text-color); 
}

a {
  color: var(--text-color);
  text-decoration: none; 
}

:root[data-theme="light"] .theme-icon {
  color: var(--text-color); /* Color para el tema claro */
}

:root[data-theme="dark"] .theme-icon {
  color: var(--text-color); /* Color para el tema oscuro */
}

:root[data-theme="light"] .theme-icon {
  color: var(--text-color); /* Color para el tema claro */
}