html, body {
  margin: 0;
  padding: 0; 
  width: 100%; 
  height: 100%; 
  font-size: 1rem;
  box-sizing: border-box;
}


:root {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 2.5rem;
}

/*Dark Mode color schemes*/

/*Root*/
:root[data-theme='dark'] {
  --background-color: #101010;
  --text-color: white;
  --header-bg-color:#101010;
  --body-bg-color:#101010;
  --footer-bg-color:#080808;
  --selected-bg-color: #43736a;
  --selected-text-color: #d9d6d2;
}



/*Light mode color schemes*/

/*Root*/
:root[data-theme='light'] {
  --background-color: #d9d6d2;
  --text-color: #101010;
  --header-bg-color:#d9d6d2;
  --body-bg-color:#d9d6d2;
  --footer-bg-color:#ecebe9;
  --selected-bg-color: #8198a6;
  --selected-text-color: #101010;
}

/*Other things*/
body {
  background-color: var(--background-color);
  color: var(--text-color);
  
}

body.transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}

::selection {
  background-color: var(--selected-bg-color);
  color: var(--selected-text-color); 
}

a {
  color: var(--text-color);
  text-decoration: none; 
}

:root[data-theme="light"] .theme-icon {
  color: var(--text-color); /* Color para el tema claro */
}

:root[data-theme="dark"] .theme-icon {
  color: var(--text-color); /* Color para el tema oscuro */
}

:root[data-theme="light"] .theme-icon {
  color: var(--text-color); /* Color para el tema claro */
}