.BodyProjects{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(5%);
}

.BodyProjects h1{
    font-size: 3.5rem;
}


@media (max-width: 480px){
    .BodyProjects{
        margin-top: calc(10% + 40px);
    }
}