.footer-component {
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-direction: column;
    margin-top: 20px;
    border-top: 1px var(--border-color) solid;
}

.footer-columns{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap : 25%;
    width: 100%;
    margin: 20px left;   
}


.social-link{
    display: flex;
    gap: 4px;
}

.social-link img{
    height: 1rem;
}

@media (min-width: 768px){
    .footer-columns{
        flex-direction: row;
    }
}
.footer-columns h1 {
    font-size: 2rem;
}

.footer-columns p {
    font-size: 1rem;
}
  
.footer-bottom {
    border-top: 1px var(--border-color) solid;
    font-size: 1rem;
    text-align: center;
}

.footer-social a:hover{
    color: var(--hover-text-color);
}